wheel
setuptools
win11toast
geopy
folium
pyaudio
SpeechRecognition
pyttsx3
pywhatkit
wikipedia
pyjokes
requests
pyperclip
pillow
python_weather
asyncio
deep_translator
ollama
langchain_ollama
customtkinter
playsound
